.search-icon {
    margin-left: 15px;
    font-size: 25px;
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
  }
  
  .search-icon:hover {
    transform: scale(1.1); /* Khi hover, biểu tượng sẽ tăng kích thước lên 10% */
    color: #76ABAE; /* Thay đổi màu sắc khi hover (ví dụ: màu xanh của Ant Design) */
  }
  .file-input-label {
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 4px;
    /* background-color: #f9f; */
    /* border: 1px solid #ccc; */
    position: relative;
    
  }
  
  .file-input-label i {
    margin-right: 8px;
  }
  
  .file-input-label input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }