.loginButton {
    width: 380px;
    height: 40px;
    background-color:'#fdfdfdfd';
    border: none;
    border-radius: 999px;
    border:'none';
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #76ABAE; 
    color: white; 
  }

.formRegiserStyle {
    width: 400px;
    height: 600px;
    background-color: white;
   
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #222831;
    transition: box-shadow 0.3s ease; 
  }
  .formRegiserStyle.shadow {
    box-shadow: 0px 0px 50px rgba(118, 171, 174, 1)
    ; 
  }
.formStyle {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #222831;
    transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng mờ */
  }
  
  .formStyle.shadow {
    box-shadow: 0px 0px 50px rgba(118, 171, 174, 1)
    ; /* Đổ bóng khi input được focus */
  }
  /* BackgroundStyles.css */
  /* @keyframes slideDiagonal {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  } */
  
.diagonalBackground {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #EEEEEE;
    justify-content: center;
    align-items:center;
    /* background-image: url('../Home//image/Hyper.svg');
    background-size: cover;
    animation: slideDiagonal 5s linear infinite; */
  }
  